html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 2em;
}

.score-panel{
    font-size: 1.5em;
}

/*
 * Styles for the deck of cards
 */

@media screen and (max-width: 700px) {
    .deck {
        width: 400px;
        max-height: 420px;
    }

    .deck .card {
        height: 75px;
        width: 75px;
    }
}

.deck {
    width: 660px;
    min-height: 680px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
    transform: rotateY(180deg);
    transition: transform 0.5s, font-size 0.2s, background 0.1s;
    opacity: 1;
}

.deck .card.opened {
    transform: rotateY(360deg);
    background-color: #02ccba;
    cursor: default;
    transition: transform 2s;
}

.deck .card.shown {
    font-size: 33px;
    transition: all 0.5s;
}

.deck .card.matched {
    cursor: default;
    background-color: #02b3e4;
    font-size: 33px;
    transition: background 0.15s;
    animation: shaking 0.2s ease-in-out 2;
}

.deck .card.mismatched {
    background: #D7006E;
    transition: background 0.15s;
    animation: swinging 0.2s ease-in-out 2;
}

@keyframes shaking {
    33.3%{
        transform: translate(0,-4px);
    }
    66.6%{
        transform: translate(0,4px);
    }
}

@keyframes swinging {
    33.3% {
        transform: rotateZ(5deg);
    }
    66.6% {
        transform: rotateZ(-5deg);
    }
}

.deck .card.cardsDisappearance {
    opacity: 0;
    transition: opacity 1.5s;
   animation: cardsDisappearance 2s ease-out 1;
} 
   
   @keyframes cardsDisappearance {
   0 {
       transform: translate(0,0);
   }
   100% {
       transform: translate(0,100px);
   }
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-flow: row nowrap;
    -moz-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    -o-flex-flow: row nowrap;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}

.game-over {
    -webkit-flex-flow: column nowrap;
    -moz-flex-flow: column nowrap;
    -ms-flex-flow: column nowrap;
    -o-flex-flow: column nowrap;
    flex-flow: column nowrap;
    margin:10% auto auto auto;
    justify-content: space-between;
}

.stats-table {
    text-align: center;
}

.game-over-button {
    border-radius: 8px;
    border: none;
    background: #02ccba;
    padding: 20px;
    margin: 0;
    font-size: 1.5em;
    color: #fff;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
    margin-top: 30px;
}
.game-over h1 {
    font-size: 3em;
    color: #fff;
    -ms-text-justify: distribute;
    text-justify: distribute;
}

.game-over table {
    font-size: 1.5em;
    margin-left: auto;
    margin-right: auto;
}
.game-over table td,
.game-over table th {
    padding-right: 20px;
    padding-left: 20px;
}

.get-invisible {
    display: none !important;
    opacity: 0;
}

.get-visible {
    display: flex !important;
    opacity: 1;
}
